In [9]:
import hashlib
import requests

import pandas as pd

from bs4 import BeautifulSoup
from feedgen.feed import FeedGenerator
from flask import Flask, make_response
from datetime import date, datetime, timezone

In [7]:
URLO = "https://www.ons.gov.uk/economy/economicoutputandproductivity/output/articles/ukeconomylatest/2021-01-25"
    
RESP=requests.get(URLO)
HTML=RESP.text

SOUP = BeautifulSoup(HTML, "lxml")
ARTS = SOUP.find_all("div", {"class": "section__content--markdown section__content--markdown--neutral-article"})

In [20]:
dt = datetime.now()
dt = dt.replace(tzinfo=timezone.utc)
dt = dt.strftime("%a, %d %b %Y %H:%M:%S %z")

'Mon, 09 Jan 2023 11:54:19 +0000'

In [27]:
# generate data
COL = ['Date','Title','Link','Description','GUID']
DFO = pd.DataFrame(columns=COL)

for ART in ARTS:
    if len(ART) > 1:

        tt = ART.select('h2,h3')

        if tt:
            dt = dt
            
            tt = tt[0].text 

            try:
                lk = ART.find_all('a', href=True)[-2]
                lk = lk.get('href')
            except:
                lk = None

            ds = ART.text

            gd = 'guid{0}'.format(tt)
            gd = str(int(hashlib.sha256(guid.encode('utf-8')).hexdigest(), 16) % 10**8 + 1)
            
            row = [dt, tt, lk, ds, gd]
            DFR = pd.DataFrame([row], columns=COL)

            DFO = pd.concat([DFO,DFR], axis=0)
            
DFO = DFO.reset_index(drop=True).copy()
DFO.head()

,Date,Title,Link,Description,GUID
0,"Mon, 09 Jan 2023 11:54:19 +0000",Cost of future fixed-rate mortgages could incr...,/generator?uri=/economy/economicoutputandprodu...,\n\nCost of future fixed-rate mortgages could ...,72843048
1,"Mon, 09 Jan 2023 11:54:19 +0000",Post-Christmas retail activity rose compared w...,https://www.ons.gov.uk/releases/economicactivi...,\n\nPost-Christmas retail activity rose compar...,72843048
2,"Mon, 09 Jan 2023 11:54:19 +0000",The majority of adults planning to cut spendin...,https://www.ons.gov.uk/peoplepopulationandcomm...,\n\nThe majority of adults planning to cut spe...,72843048
3,"Mon, 09 Jan 2023 11:54:19 +0000",Rising food prices leave most vulnerable worst...,https://www.ons.gov.uk/releases/risingfoodpric...,\n\nRising food prices leave most vulnerable w...,72843048
4,"Mon, 09 Jan 2023 11:54:19 +0000",Business investment lower than previously esti...,https://www.ons.gov.uk/releases/businessinvest...,\n\nBusiness investment lower than previously ...,72843048

In [25]:
#initialise feed
fg = FeedGenerator()
fg.title('UK Economy RSS')
fg.description('RSS feed capturing updates to the ONS UK Economy blog')
fg.link(href='https://93b9-51-141-125-233.eu.ngrok.io')
#fg.image(url_for('static', filename='icon.png'))

[{'href': 'https://93b9-51-141-125-233.eu.ngrok.io'}]

In [32]:
for index, row in DFO.iterrows():
    #print(row)
    fe = fg.add_entry()
    
    fe.title(row.Title)
    fe.description(row.Date)
    fe.link(href=str(row.Link))
    
    fe.guid(row.GUID, permalink=False)
    fe.pubDate(row.Date)
    fe.author(name="Gregory Weegenaar", email="Gregory.Weegenaar@tdrcapital.com")

In [39]:
XML = fg.rss_str()
XML = XML.decode("utf-8")

In [41]:
with open('readme.txt', 'w') as f:
    f.write(XML)

In [2]:
from xml.dom import minidom
import xml.etree.ElementTree as ET

In [6]:
PATH = r'C:\Users\DS.GWeegenaar\Desktop\Python\sandbox_actions\misc\rss\UK_economy_rss.xml'
with open(PATH, 'r', encoding='utf-8') as f:
    data = f.read()

In [14]:
def transform_xml(XML):
    TREE = ET.ElementTree(ET.fromstring(XML))
    ROOT = TREE.getroot()
    XMLO = minidom.parseString(ET.tostring(ROOT)).toprettyxml(indent="   ")
    return XMLO

In [20]:
with open(PATH, "w", encoding = "utf-8") as f:
    f.write(xmlstr)

In [45]:
!pip install js-regex

Collecting js-regex
  Using cached js_regex-1.0.1-py3-none-any.whl (12 kB)
Installing collected packages: js-regex
Successfully installed js-regex-1.0.1

In [51]:
import re
import js_regex

import json
import requests

In [52]:
re.compile("^abc$").search("abc\n")  # matches, unlike JS
js_regex.compile("^abc$").search("abc\n")  # does not match

In [38]:
base_endpoint = "https://serpapi.com/search.json?"
input_query = "allintitle:moody downgrades to site:https://www.moodys.com/"
input_params = {
                "q": input_query,
                "tbm": "nws",
                "num": "100",
                "location": "London",
                "api_key": "ae5695fed402b38494d25f4df01dc61422facdeb77e7b6864d368abdc16c96f5"
                }

response_json = requests.get(base_endpoint, params=input_params).json()

In [75]:
regex_title  = re.compile("Moody's downgrades.*")
regex_rating = js_regex.compile("to .*\d|to '(.*?)'")
regex_company = js_regex.compile("downgrades.*to")

for result in response_json['news_results'][0:50]:
    result_title = result['title']
    if regex_title.search(result_title):
        try:
            rating_raw = regex_rating.search(result_title)[0]
            rating_raw = rating_raw.replace("to ","")
        except:
            rating_raw = 'unknown'
        
        try:
            rating_company = regex_company.search(result_title)[0]
            rating_company = re.sub("downgrades|to|ratings?|CFR|PDR|  ","", rating_company)
        except:
            rating_company = 'unknown'
        print(rating_raw, '-->',rating_company, '-->', result_title)

A3 -->  City of Hope (CA)  --> Moody's downgrades City of Hope (CA) to A3; outlook stable
Caa1 -->  ToriseEcofin's   --> Moody's downgrades TortoiseEcofin's CFR to Caa1; outlook ...
Caa3 -->  Tacora Resources'   --> Moody's downgrades Tacora Resources' rating to Caa3 ...
Caa3 -->  Takko's   --> Moody's downgrades Takko's CFR to Caa3, outlook negative
Caa1 -->  Spin Holdco's   --> Moody's downgrades Spin Holdco's CFR to Caa1; outlook stable
unknown --> unknown --> Moody's downgrades Silvergate Bank's long term deposit ...
unknown --> unknown --> Moody's downgrades Times China Holdings Limited's ratings ...
A3 -->  Perth Amboy, NJ's GOULT   --> Moody's downgrades Perth Amboy, NJ's GOULT rating to A3 ...
unknown -->  BW NHHC Holdco's   --> Moody's downgrades BW NHHC Holdco's PDR to D-PD ...
unknown -->  Vonovia  --> Research: Rating Action: Moody's downgrades Vonovia to ...
Ba3 -->  DaVita's   --> Moody's downgrades DaVita's CFR to Ba3; stable outlook
Ba2 -->  Country Garden's   --> Moody's downgrades Country Garden's ratings to Ba2; outlook ...
unknown -->  Bed Bath & Beyond  --> Moody's downgrades Bed Bath & Beyond to Ca; outlook ...
unknown -->  Ghana   --> Moody's downgrades Ghana ratings to Ca with a stable ...
B2 -->  Fosun  B2; changes outlook  --> Moody's downgrades Fosun to B2; changes outlook to negative
A2 -->  Chile's   A2, changes outlook  --> Moody's downgrades Chile's ratings to A2, changes outlook to ...
B2 -->  VTR's   --> Moody's downgrades VTR's ratings to B2, outlook remains ...
Caa3; PDR Caa2 -->  Mitel's   Caa3;   --> Moody's downgrades Mitel's CFR to Caa3; PDR to Caa2-PD ...
B3 from B2 -->  Nigeria's   --> Moody's downgrades Nigeria's rating to B3 from B2 and ...
Caa1 -->  Pakistan's   --> Moody's downgrades Pakistan's rating to Caa1; outlook ...
Ba3 -->  Country Garden  --> Moody's downgrades Country Garden to Ba3; outlook negative
B3 -->  Turkiye's   --> Moody's downgrades Turkiye's ratings to B3, changes outlook ...
B1 -->  Emergent BioSolutions   --> Moody's downgrades Emergent BioSolutions CFR to B1 from ...
Caa1 -->  Glatfelter's   --> Moody's downgrades Glatfelter's CFR to Caa1; outlook negative
Caa1 -->  Biscuit's   --> Moody's downgrades Biscuit's rating to Caa1; negative outlook
Caa1 -->  Astro One's   --> Moody's downgrades Astro One's CFR to Caa1; outlook is ...
Baa3 -->  CPI Property Group  --> Moody's downgrades CPI Property Group to Baa3, outlook ...
A3 -->  Milwaukee, WI's GO  --> Moody's downgrades Milwaukee, WI's GO to A3; outlook ...
Baa2 -->  Mexico's   --> Moody's downgrades Mexico's ratings to Baa2, changes ...
Caa1 -->  Casa's   --> Moody's downgrades Casa's CFR to Caa1; outlook negative
Caa1/Caa2 -->  Agile's   --> Moody's downgrades Agile's ratings to Caa1/Caa2; outlook ...
Caa2 -->  GCB Bank's   --> Moody's downgrades GCB Bank's ratings to Caa2 and places ...
B3 -->  Labeyrie's   --> Moody's downgrades Labeyrie's ratings to B3; outlook ...
Caa2 -->  pH Beauty's   --> Moody's downgrades pH Beauty's CFR to Caa2; outlook is ...
B3 -->  Tacora Resources'   --> Moody's downgrades Tacora Resources' rating to B3; outlook ...
unknown -->  Li & Fung's senior unsecured   --> Moody's downgrades Li & Fung's senior unsecured ratings to ...
Caa3 -->  Air Method's   --> Moody's downgrades Air Method's CFR to Caa3; outlook stable
Caa3 -->  Vericast's   --> Moody's downgrades Vericast's CFR to Caa3, changes ...
B3 -->  Vedanta Resources'   B3, notes  --> Moody's downgrades Vedanta Resources' CFR to B3, notes to ...
Caa3 -->  Party City's   --> Moody's downgrades Party City's CFR to Caa3; outlook negative
Ba3 from Ba1 -->  Srskogen's   --> Moody's downgrades Storskogen's rating to Ba3 from Ba1 ...
Caa1 -->  TKC's   --> Moody's downgrades TKC's CFR to Caa1; outlook negative
B2 -->  Emergent BioSolutions   --> Moody's downgrades Emergent BioSolutions CFR to B2 ...
Ba3 -->  Ceconomy  --> Moody's downgrades Ceconomy to Ba3; continuing review for ...
B3 -->  Diversified Healthcare's   --> Moody's downgrades Diversified Healthcare's CFR to B3 ...
Ba2; assigns Ba1 -->  Open Text's   --> Moody's downgrades Open Text's CFR to Ba2; assigns Ba1 ...
Ba2 -->  Seagate's   --> Moody's downgrades Seagate's CFR to Ba2; outlook stable
unknown --> unknown --> Research: Rating Action: Moody's downgrades At Home's ...
B3 -->  B&G Foods'   --> Moody's downgrades B&G Foods' CFR to B3; outlook is stable
B3 -->  Kosmos Energy's   --> Moody's downgrades Kosmos Energy's CFR to B3, negative ...

'to A3'